*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
#a01{
    height: 50px;
    margin-top: 0px;
    padding: 0;
    width: 1399px;
    background-color: #006986;
    line-height: 50px;
    border-radius: 6px;
}
#a01 ul li{
    float: left;
    font-size: 20px;
    color: black;
    height: 50px;
    text-align: center;
    list-style: none;
    width: 199px;
}
#zhu{
    width: 1400px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
#t02{
    width: 500px;
    height: 350px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
#t02 span{
    font-size: 22px;
    color: #006986;
    float: left;
    padding-top: 12px;
}
#t03{
    background: url(images/laba.jpg) no-repeat 0 center;
    float: left;
    font-size: 35px;
    text-indent: 50px;
}

#z01{
    width: 890px;
    float: left;
    height: 350px;
    padding-left: 10px;
}
#z01 span{
    font-size: 22px;
    color: #006986;
    float: left;
    padding-top: 12px;
    border-bottom: 2px solid #006986;   
}
#z02{
    background: url(images/xinwen.jpg) no-repeat 0 center;
    float: left;
    font-size: 35px;
    text-indent: 50px;
}
#z03 h2{
    text-align: center;
    margin-left: 45px;
}
#x01{    
    width: 610px;
    height: 350px;
    float: left;    
}
#x01 span{
    font-size: 22px;
    color:#006986;
    float: left;
    padding-top: 12px;
}
#x02{
    background: url(images/shu.jpg) no-repeat 0 center;
    float: left;
    font-size: 35px;
    text-indent: 50px;
}
#j01{
    width: 590px;
    height: 350px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
#j01 span{
    font-size: 22px;
    color: #006986;
    float: left;
    padding-top: 12px;
}
#j02{
    float: left;
    font-size: 35px;
    text-indent: 50px;
}
#zhan{
    width: 180px;
    float: left;
    height: 350px;
}
#zhan span{
    font-size: 30px;
    color:#006986;
    float: left;
    text-indent: 50px;
}
#wei{
    width: 1400px;
    height: 110px;
    background-color:#006986;
    text-align: center;
    list-style: none;
    font-size: 17px;
}
.xian{
    border-top: 4px solid #006986;
    height: 5px;
    padding-top: 4px;
    font-size: 18px;
    list-style: none;
}
.jian{
    padding-top: 45px;
}